.App {
  text-align: center;
  font-family: cursive;
  
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drums {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  font-family: monospace;
  font-size: 1rem;
  border:double;
  border-radius: 1rem;
  color:yellowgreen;
  background-color: black;
  padding: .5rem;
  margin: .5rem;
}

.pets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center; 
  font-family: monospace;
  font-size: 1rem;
  border:double;
  border-radius: 1rem;
  color:lightskyblue;
  background-color: black;
  padding: .5rem;
  margin: .5rem;
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center; 
  font-family: monospace;
  font-size: 1rem;
  border:double;
  border-radius: 1rem;
  color:violet;
  background-color: black;
  padding: .5rem;
  margin: .5rem;
}

.states {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center; 
  font-family: monospace;
  font-size: 1rem;
  border:double;
  border-radius: 1rem;
  color:red;
  background-color: black;
  padding: .5rem;
  margin: .5rem;
}